<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>JIRA API TEST</title>
  {{ style('style') }}

  <script>
    
    function showComments() {
      const request = new XMLHttpRequest();
      request.open('GET', '/get-all-comment', true);
    
      request.onload = function() {
        if (this.status >= 200 && this.status < 400) {
          var resp = JSON.parse(this.response);

          resp.forEach(function(value, index) {
            document.getElementById('comments').innerHTML += "<p>"+value.body+"</p>"
          })
          document.getElementById('comments').removeAttribute('hidden')
        } else {
          console.log('Error on request')
        }
      };
    
      request.onerror = function() {
        // There was a connection error of some sort
      };
    
      request.send();
    }

    function addComment() {

      let value = document.getElementById('add-comment').value

      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/add-comment", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("comment="+value);

      // const request = new XMLHttpRequest();
      // request.open('POST', '/add-comment', true);
    
      // request.onload = function() {
      //   if (this.status >= 200 && this.status < 400) {
      //     // var resp = JSON.parse(this.response);

      //     console.log(this.response)
      //   } else {
      //     console.log('Error on request comment')
      //   }
      // };
    
      // request.onerror = function() {

      // }

      // request.send('comment='+value)
  
    }
  
  </script>
</head>
<body>
  <section>

    <div class="subtitle">
      <p>ISSUE TEST-1</p>
      <button onclick="showComments()">Get Comment</button>
      <div hidden id="comments">
        <input type="text" placeholder="Add comment" id="add-comment">
        <input type="button" value="Add" onclick="addComment()">
      </div>
    </div>
  </section>
</body>


</html>
