HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

# JIRA API USER (E-MAIL) AND PASSWORD(JIRA TOKEN)

JIRA_API_BASE_URL=
JIRA_API_PASSWD=
JIRA_API_USER=
